
h1{
    font-weight: bold;    
}
.header{
    background-color:rgb(31, 58, 210);
    padding: 10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.movie {
    border: 1px solid gray;
    background-color:rgb(236, 233, 233);
    padding: 5px;
    font-weight: bold;
    text-align: start;
    width: 22%;
    margin: 20px;
}

.movie img{

    height: 220px;
    width: 100%;
   margin-top: 10px;
}